@page "/contact"

<h1>Contact Me</h1>
<p>I’d love to connect and discuss potential collaborations or opportunities. Feel free to reach out through any of the following channels:</p>

<ul>
    <li><strong>Email:</strong> <a href="mailto:abcdef@gmail.com">abcdef@gmail.com</a></li>
    <li><strong>Phone:</strong> (+39) 12345678</li>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/abdc@gmail.com" target="_blank">LinkedIn Profile</a></li>
    <li><strong>GitHub:</strong> <a href="https://github.com/Abc" target="_blank">GitHub Profile</a></li>
</ul>
<p>Let’s build something amazing together!</p>
